@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap");

/*
  /////////////////////////////////////////
        CSS GÉNÉRIQUE
  /////////////////////////////////////////
 */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
  z-index: 10;
}

.header img {
  width: 150px;
  margin: 0;
}

.header h1 {
  font-family: "Inknut Antiqua", serif;
  font-weight: 300;
  margin: 0;
  text-align: center;
  flex: 1;
}

.header h1 a {
  text-decoration: none;
  color: #000;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
  transition: opacity 1s ease-in-out;
}


/*
  /////////////////////////////////////////
        CSS POUR LA SECTION 1
  /////////////////////////////////////////
 */

#heroLanding {
  height: 100vh;
  background-image: url("../images/massageHD.jpg");
}

.heroText {
  font-family: "Inknut Antiqua", serif;
  font-weight: 700;
  padding-top: 15%;
  padding-left: 5%;
  text-align: left;
  font-size: 85px;
  color: #55b8e6;
  line-height: 1.2;
}

.inline-form {
  margin: auto;
  display: flex;
  width: 75%;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding-top: 8vh;
}

.inline-form input,
.inline-form select,
.inline-form button {
  flex: 1;
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0;
  box-sizing: border-box;
  border-radius: 50px;
  border: none;
  text-align: left;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 5px 2px;
  width: 100%;
}

.inline-form input:focus,
.inline-form select:focus {
  outline: none;
}

.cta {
  background-color: #00b7ff;
  color: white;
  font-weight: bolder;
}

#sec2,
#sec3,
#sec4 {
  background-color: white;
  height: 100vh;
}

.hidden {
  opacity: 0;
}
/*
       /////////////////////////////////////////
             CSS POUR LE DROP DOWN DES SERVICES
       /////////////////////////////////////////
 */




/*
       /////////////////////////////////////////
             CSS POUR LE CALENDRIER
       /////////////////////////////////////////
 */
.flatpickr-calendar {
  background: #f8f9fa;
  border: 1px solid #dcdde1;
  border-radius: 8px;
  padding: 10px;
  z-index: 1000;
  position: absolute;
  width: inherit;
  margin-top: -25px;
}
.flatpickr-calendar.open {
  display: block !important;
}
.flatpickr-months {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flatpickr-prev-month, .flatpickr-next-month {
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
}
.flatpickr-month {
  font-size: 1.2em;
  font-weight: bold;
}
.flatpickr-weekdays {
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
}
.flatpickr-weekday {
  flex: 1;
  text-align: center;
  color: #5a5a5a;
}
.flatpickr-days {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}
.flatpickr-day {
  width: calc(100% / 7);
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin: 2px 0;
  cursor: pointer;
  border-radius: 5px;
}
.flatpickr-day.today {
  background: #007bff;
  color: white;
}
.flatpickr-day.selected {
  background: #007bff;
  color: white;
}
.flatpickr-day:hover {
  background: #007bff;
  color: white;
}
.flatpickr-day.disabled {
  color: #dcdde1;
  cursor: not-allowed;
}
.flatpickr-time {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.flatpickr-time input {
  border: 1px solid #dcdde1;
  border-radius: 5px;
  padding: 5px;
}
.flatpickr-time .flatpickr-hour,
.flatpickr-time .flatpickr-minute,
.flatpickr-time .flatpickr-second,
.flatpickr-time .flatpickr-am-pm {
  width: 48px;
}
/*
       /////////////////////////////////////////
             CSS POUR LE TIME PICKER
       /////////////////////////////////////////
 */
.time-picker, .service-picker {
  position: relative;
  display: inline-block;
  width: 25%;
}

.time-picker input,
.service-picker input{
  width: 100%;
  cursor: pointer;
}

.time-picker .time-dropdown,
.service-picker .service-dropdown{
  position: absolute;
  background: #f8f9fa;
  border: 1px solid #dcdde1;
  border-radius: 8px;
  display: none;
  z-index: 1000;
  width: 100%;
  margin-top: -104%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.time-picker .time-dropdown.open {
  display: block;
}

.time-picker .time-dropdown ul ,
.service-picker .service-dropdown ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.time-picker .time-dropdown li ,
.service-picker .service-dropdown li{
  padding: 10px;
  cursor: pointer;
  text-align: center;
}

.time-picker .time-dropdown li:hover ,
.service-picker .service-dropdown li:hover{
  background: #007bff;
  color: white;
}

.time-picker .time-dropdown li.disabled {
  color: #dcdde1;
  cursor: not-allowed;
}

/*

/*
  /////////////////////////////////////////
        CSS POUR LA SECTION 2 SERVICES
  /////////////////////////////////////////
 */

#sec2 .card-container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
#sec2 .card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 30%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.01);
  overflow: visible;
  position: relative;
  padding: 16px 24px;
  animation: fadeInUp 2s ease-in-out;
}
#sec2 .card::after {
  position: absolute;
  content: "";
  top: -10%;
  left: -10%;
  right: -10%;
  bottom: -10%;
  z-index: -1;
  transform: scale(0.8) translateZ(0);
  filter: blur(25px);
  background: linear-gradient(
    to left,
    #55b8e6,
    #328bc1,
    #0a6ca4,
    #0a6ca4,
    #328bc1,
    #55b8e6
  );
  background-size: 200% 200%;
  animation: animateGlow 1.25s linear infinite;
}
@keyframes animateGlow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}
#sec2 .card img {
  width: 100%;
  height: auto;
}
#sec2 .card-content {
  padding: 15px;
}
#sec2 .card-title {
  font-size: 1.2em;
  margin-bottom: 10px;
}
#sec2 .card-text {
  font-size: 1em;
  color: #555;
}
@media (max-width: 768px) {
  .card-container {
    flex-direction: column;
    align-items: center;
  }
  #sec2 .card {
    width: 80%;
    margin-bottom: 20px;
  }
}

/*
  /////////////////////////////////////////
        CSS POUR LE DROP MENU LOGIN
  /////////////////////////////////////////
 */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content form {
  padding: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* CSS pour les transitions */
.fade-in {
  animation: fadeIn 1s forwards;
}

.fade-out {
  animation: fadeOut 1s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.hidden {
  display: none;
}

/* CSS pour l'animation des points  */
.dot {
  animation: 2s enter;
  background-color: rgb(50, 139, 193);
  border-radius: 100%;
  height: 50px;
  left: 50%;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  pointer-events: none;
}

@keyframes enter {
  0% {
    opacity: 0;
    transform: scale(0.5) translate(-100%, -100%);
  }

  50% {
    opacity: 0.5;
  }
}
/*
  /////////////////////////////////////////
        CSS POUR LA SECTION A PROPOS
  /////////////////////////////////////////
 */
#sec3 {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

#sec3 img {
  width: 100%;
  max-width: 200px;
  height: auto;
  display: block;
  margin: 0 auto 20px auto;
  border-radius: 40%;
}

#sec3 h2 {
  color: #333;
  font-size: 1.2em;
  line-height: 1.8;
  text-align: justify;
  margin-bottom: 20px;
}

#sec3 .highlight {
  color: #2a9d8f;
  font-weight: bold;
}

#sec3 .section {
  margin-bottom: 40px;
}

#sec3 .section p {
  margin-bottom: 20px;
}

#sec3 .section h3 {
  font-size: 1.4em;
  color: #444;
  margin-bottom: 10px;
}

/*
  /////////////////////////////////////////
        CSS POUR LA SECTION CONTACT
  /////////////////////////////////////////
 */

#sec4 {
  background-color: #f0f8ff;
  padding: 40px;
  border-radius: 20px;
  transition: background-color 0.3s ease;
  margin-top: 100px;
  box-sizing: border-box;
  min-height: calc(100vh - 60px);
  overflow-y: auto;
}

#sec4:hover {
  background-color: #e6f2ff;
}

#sec4 h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;

  text-align: center;
}

#sec4 .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-items: center;
}

#sec4 .grid-item {
  background-color: #ffffff;
  padding: 20px;
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  text-align: left;
}

#sec4 .fonctions {
  animation: fadeInLeft 2s ease-in-out;
}

#sec4 .contact-details {
  animation: fadeInRight 2s ease-in-out;
}

#sec4 .horaires {
  animation: fadeInLeft 2s ease-in-out;
}

#sec4 .services {
  animation: fadeInRight 2s ease-in-out;
}

#sec4 .fonctions li,
#sec4 .services-list li,
#sec4 .contact-details span,
#sec4 .horaires span {
  display: block;
  font-size: 18px;
  color: #555;
  margin-bottom: 10px;
}

#sec4 .services-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#sec4 img {
  margin-top: 20px;
  width: 80%; /* Largeur fixe pour l'image */
  max-width: 800px; /* Largeur maximale pour éviter qu'elle soit trop grande */
  height: auto;
  border-radius: 10px;
}

/* Keyframes for animations */

@keyframes fadeInUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  from {
    transform: translateX(-50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeInRight {
  from {
    transform: translateX(50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Animation image carte */
#myModal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9); /* Couleur de fond semi-transparente */
}

#myModal .modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  animation: zoom 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

#myModal .close {
  position: absolute;
  top: 20px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

#myModal .close:hover,
#myModal .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
