<!DOCTYPE html>
<html>
  <head>
    <title>Projet Synthese</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <div class="header">
        <img src="/images/logo.svg" alt="logo">
        <h1>HEADER1</h1>
        <h1>HEADER2</h1>
        <h1>HEADER3</h1>
        <h1>HEADER4</h1>
        <h1>HEADER5</h1>
      </div>
    </header>
    <div class="section">
      <h1 class="heroText">Votre<br>relaxation<br>commence ici</h1>
      <form class="inline-form">
        <input type="text" name="service" placeholder="Input 1">
        <input type="date" name="date" placeholder="Today!">
        <input type="text" name="heure" placeholder="Input 3">
      </form>
    </div>
  </body>
</html>
