<!DOCTYPE html>
<html>
  <head>
    <title>Projet Synthese</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/scripts.js"></script>

  </head>
  <body>
  <header>
    <div class="header">
      <a href="#"><img src="/images/logo.svg" alt="logo"></a>
      <h1><a href="#heroLanding" class="tab-link" data-target="heroLanding">Accueil</a></h1>
      <h1><a href="#sec2" class="tab-link" data-target="sec2">Services</a></h1>
      <h1><a href="#sec3" class="tab-link" data-target="sec3">À propos</a></h1>
      <h1><a href="#sec4" class="tab-link" data-target="sec4">Contact</a></h1>
      <div class="dropdown">
        <h1><a class="dropdown-btn">Connexion</a></h1>
        <div class="dropdown-content">
          <form id="login-form" method="post" action="/login">
            <input type="text" name="email" placeholder="Courriel">
            <input type="password" name="password" placeholder="Mot de passe">
            <button type="submit">Login</button>
          </form>
          <form id="login-form" method="post" action="/login">
            <hr>
            <br>
            <input type="text" name="firstName" placeholder="Prénom">
            <input type="text" name="lastName" placeholder="Nom de famille">
            <input type="text" name="username" placeholder="Nom d'utilisateur">
            <input type="text" name="email" placeholder="Courriel">
            <input type="password" name="passwordhash" placeholder="Mot de passe">
            <input type="password" name="confirmPassword" placeholder="Confirmation de mot de passe">
            <input type="text" name="phoneNumber" placeholder="Numéro de téléphone">
            <button type="submit">S'inscrire</button>
          </form>
        </div>
      </div>
    </div>
  </header>

  <div class="section" id="heroLanding">
    <h1 class="heroText">Votre<br>relaxation<br>commence ici</h1>
    <form class="inline-form">
      <div class="service-picker">
        <button id="selectedServiceButton" class="service-button" type="button">Choisir le service</button>
        <div class="service-dropdown" id="serviceDropdown">
          <ul id="serviceList">
          </ul>
        </div>
      </div>
      <input id="datePicker" type="text" name="date" placeholder="Today!">
      <div class="time-picker">
        <button id="selectedTimeButton" class="time-button" type="button">Choisir l'heure</button>
        <div class="time-dropdown" id="timeDropdown">
          <ul id="timeList"></ul>
        </div>
      </div>
      <input type="button" name="reserver" value="Réserver" class="cta">
    </form>
  </div>



  <div class="content section hidden" id="sec2">
      <div class="card-container">
        <div class="card">
          <img src="https://via.placeholder.com/300x200" alt="Card Image 1">
          <div class="card-content">
            <h3 class="card-title">Card Title 1</h3>
            <p class="card-text">This is a description of the first card.</p>
          </div>
        </div>
        <div class="card">
          <img src="https://via.placeholder.com/300x200" alt="Card Image 2">
          <div class="card-content">
            <h3 class="card-title">Card Title 2</h3>
            <p class="card-text">This is a description of the second card.</p>
          </div>
        </div>
        <div class="card">
          <img src="https://via.placeholder.com/300x200" alt="Card Image 3">
          <div class="card-content">
            <h3 class="card-title">Card Title 3</h3>
            <p class="card-text">This is a description of the third card.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="content section hidden" id="sec3">
      <h2>Contenu de la section 3 Ajout stef</h2>
    </div>
    <div class="content section hidden" id="sec4">
      <h2>Contenu de la section 4</h2>
    </div>

    <div class="content section hidden" id="sec5">
      <h2>Contenu de la section 5</h2>
    </div>

    <div class="dot"></div> <!-- Pour les points qui suivent la souris  -->

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>   <!-- Pour le calendirer   -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/fr.js"></script> <!-- Pour la localisation du calendier (francais)  -->
    <script src="/javascripts/scripts.js"></script> <!-- Pour le reste  -->
  </body>
</html>
