<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Moke</h1>
    <h1>login success</h1>
    <h1>logout success</h1>
    <h1>register success</h1>
    <form action="/">
        <button type="submit">Return Home</button>
    </form>
</body>
</html>